/static/cv.pdf filter=lfs diff=lfs merge=lfs -text
/static/talks/introduction-to-golang_files/play.js filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2015-harvest.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2016-harvest.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2017-harvest.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2017-planting.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2018-harvest.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2019-harvest-2.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2019-harvest.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2019-planting.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2015-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2016-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2017-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2017-planting.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2018-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2019-harvest-2.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2019-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2019-planting.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/back-on-track-in-2020-with-todoist/dutch-terschelling-dunes.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/back-on-track-in-2020-with-todoist/intro-image.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/back-on-track-in-2020-with-todoist/todoist-theme-days.png filter=lfs diff=lfs merge=lfs -text
/static/images/back-on-track-in-2020-with-todoist/todolist-spongebob.gif filter=lfs diff=lfs merge=lfs -text
/static/images/back-on-track-in-2020-with-todoist/trip-belarus-minsk-victory-square.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/macbook-battery-replacement/IMG_0180.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/macbook-battery-replacement/charging-cycles-screenshot.png filter=lfs diff=lfs merge=lfs -text
/static/images/the-forgotten-red-ale/IMG_0240.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/the-forgotten-red-ale/IMG_0243.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/the-forgotten-red-ale/IMG_1479.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/espresso-brownies/IMG_0136.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/field-pea-and-bacon-recipe/IMG_0116.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/field-pea-and-bacon-recipe/IMG_0567.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/spring-ale/IMG_0613.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/spring-ale/IMG_0635.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/spring-ale/IMG_0636.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/spring-ale/IMG_0638.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/rye-not-so-pale-ale/IMG_1402.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/rye-not-so-pale-ale/IMG_1405.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/rye-not-so-pale-ale/IMG_1411.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/rye-not-so-pale-ale/IMG_1415.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/rye-not-so-pale-ale/IMG_1416.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/rye-not-so-pale-ale/IMG_1419.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/rye-not-so-pale-ale/IMG_1511.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/rye-not-so-pale-ale/IMG_1513.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/rye-not-so-pale-ale/IMG_1514.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/rye-not-so-pale-ale/IMG_1516.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/rye-not-so-pale-ale/IMG_1518.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/autumn-dry-irish-red-ale/chiller.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/autumn-dry-irish-red-ale/fermenter-30-liter.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/autumn-dry-irish-red-ale/hop-boil.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/autumn-dry-irish-red-ale/malt-milling.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/autumn-dry-irish-red-ale/mash-in.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/apple-red-ale/apple-juice-bag.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/apple-red-ale/fermentation-containers.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/apple-red-ale/fermentation-of-beer.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/autumn-dry-irish-red-ale/after-first-fermentation.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/autumn-dry-irish-red-ale/syphoning-first-fermentation.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/apple-red-ale/bottle-cleaning-empty-rack.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/apple-red-ale/bottle-cleaning-kitchen-countertop.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/apple-red-ale/bottle-cleaning-rack-filled.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/apple-red-ale/cleaned-bottle-crates.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/grow-and-go-box-proto/growbox-closed-cat.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/grow-and-go-box-proto/growbox-light_05_02_2022.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/grow-and-go-box-proto/led_panel_cardboard_fan.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/grow-and-go-box-proto/planting-plugs_19_02_2022.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/grow-and-go-box-proto/planting-plugs_26_02_2022.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/grow-and-go-box-proto/planting-plugs_30_01_2022.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/redish-winter-ale-februari-22/hop-boil.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/redish-winter-ale-februari-22/malt-milling.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/redish-winter-ale-februari-22/mashing-in.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/redish-winter-ale-februari-22/multiple-pans.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/redish-winter-ale-februari-22/recipe-making-and-weighting.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/redish-winter-ale-februari-22/wort-chilling.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/redish-winter-ale-februari-22/wort-syphoning-almost-finished.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/redish-winter-ale-februari-22/wort-syphoning.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/redish-winter-ale-februari-22/final-result.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/grow-and-go-box-proto/grow_light_27-04-2022.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/grow-and-go-box-proto/growing_progress_21-04-2022.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/grow-and-go-box-proto/growing_progress_8-04-2022.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/grow-and-go-box-proto/transplanting-seedlings_01_16-03-2022.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/grow-and-go-box-proto/transplanting-seedlings_02_16-03-2022.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/grow-and-go-box-proto/transplanting-seedlings_03_16-03-2022.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/grow-and-go-box-proto/transplanting-seedlings_16-03-2022.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/overwintering-pepper-2022-experiment/balcony-pepper-pots.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/overwintering-pepper-2022-experiment/banana-pepper.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/overwintering-pepper-2022-experiment/going-dormant.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/overwintering-pepper-2022-experiment/jalapeno-pepper-garden.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/overwintering-pepper-2022-experiment/pepper-cleaned-root-system.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/overwintering-pepper-2022-experiment/pepper-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/overwintering-pepper-2022-experiment/serano-pepper.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/overwintering-pepper-2022-experiment/tray-plastic-liner.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/overwintering-pepper-2022-experiment/trimmed-pepper-garden.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/IMG_4207.HEIC filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/ferment-just-started-layer-sep.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/breugelse-rooije-red-ale/first-ferment-beer-color.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/breugelse-rooije-red-ale/first-ferment-beer-trub.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/breugelse-rooije-red-ale/first-ferment-foam.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/breugelse-rooije-red-ale/first-ferment-siphon.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/breugelse-rooije-red-ale/first-ferment-vessels.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/breugelse-rooije-red-ale/siphon-beer-color.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/grape-ferment-gone-wrong.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/juice-pouring.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/juice-without-beer.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/red-currant-defrost-pan.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/red-currant-defrost.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/red-currant-pasteurize.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/red-currant-sieve.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/breugelse-rooije-red-ale/beer-before-bottle.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/breugelse-rooije-red-ale/bottle-id-312.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/breugelse-rooije-red-ale/empty-bottles.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/breugelse-rooije-red-ale/last-siphon.jpeg filter=lfs diff=lfs merge=lfs -text
/static/talks/golang-han-2023/golang-han-talk-2023-hands-on-workshop-manual.pdf filter=lfs diff=lfs merge=lfs -text
/static/talks/golang-han-2023/golang-han-talk-2023-slides.pdf filter=lfs diff=lfs merge=lfs -text
/static/talks/golang-han-2023/ready-for-presentation.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/IMG_4815.png filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/IMG_4816.png filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/IMG_4821.png filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/IMG_4822.png filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/IMG_4827.png filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/IMG_4828.png filter=lfs diff=lfs merge=lfs -text
/static/images/fruity-double-red-and-beer-n-grapes-beer-speriment/IMG_4829.png filter=lfs diff=lfs merge=lfs -text
/static/images/jerrys-mr-white/IMG_4698.png filter=lfs diff=lfs merge=lfs -text
/static/images/jerrys-mr-white/IMG_4701.png filter=lfs diff=lfs merge=lfs -text
/static/images/jerrys-mr-white/IMG_4702.png filter=lfs diff=lfs merge=lfs -text
/static/images/jerrys-mr-white/IMG_4705.png filter=lfs diff=lfs merge=lfs -text
/static/images/jerrys-mr-white/IMG_4720.png filter=lfs diff=lfs merge=lfs -text
/static/images/jerrys-mr-white/IMG_4803.png filter=lfs diff=lfs merge=lfs -text
/static/images/jerrys-mr-white/IMG_4804.png filter=lfs diff=lfs merge=lfs -text
/static/images/jerrys-mr-white/IMG_4807.png filter=lfs diff=lfs merge=lfs -text
/static/images/jerrys-mr-white/IMG_4811.png filter=lfs diff=lfs merge=lfs -text
/static/images/red-unity/IMG_5545.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/red-unity/IMG_5546.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/red-unity/IMG_5550.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/red-unity/IMG_5555.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/red-unity/IMG_5558.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/red-unity/IMG_5560.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/red-unity/IMG_5561.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/red-unity/IMG_5562.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/red-unity/label.png filter=lfs diff=lfs merge=lfs -text
/static/images/breugels-bruin/IMG_5828.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/breugels-bruin/IMG_5836.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/breugels-bruin/IMG_5838.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/breugels-bruin/IMG_5839.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/breugels-bruin/IMG_E5831.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/breugels-bruin/IMG_E5844.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/red-unity/IMG_5846.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/red-unity/IMG_E5791.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/red-unity/IMG_E5799.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/breugels-bruin/IMG_E5826.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/breugels-bruin/IMG_E5840.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/breugels-bruin/IMG_E5843.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/peppers-2024/2024-01-10_sowing.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/peppers-2024/2024-01-10_sowing_heatmat.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/peppers-2024/2024-01-20_sprouts_petri.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/peppers-2024/2024-01-20_transplant.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/peppers-2024/2024-01-21_seedlings_growlight.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/peppers-2024/2024-01-28_seedlings.jpg filter=lfs diff=lfs merge=lfs -text
