/static/cv.pdf filter=lfs diff=lfs merge=lfs -text
/static/talks/introduction-to-golang_files/play.js filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2015-harvest.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2016-harvest.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2017-harvest.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2017-planting.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2018-harvest.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2019-harvest-2.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2019-harvest.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2019-planting.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2015-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2016-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2017-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2017-planting.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2018-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2019-harvest-2.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2019-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2019-planting.jpg filter=lfs diff=lfs merge=lfs -text
