/static/cv.pdf filter=lfs diff=lfs merge=lfs -text
/static/talks/introduction-to-golang_files/play.js filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2015-harvest.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2016-harvest.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2017-harvest.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2017-planting.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2018-harvest.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2019-harvest-2.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2019-harvest.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/garlic-2019-planting.png filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2015-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2016-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2017-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2017-planting.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2018-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2019-harvest-2.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2019-harvest.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/garlic-joy/thumb-garlic-2019-planting.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/back-on-track-in-2020-with-todoist/dutch-terschelling-dunes.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/back-on-track-in-2020-with-todoist/intro-image.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/back-on-track-in-2020-with-todoist/todoist-theme-days.png filter=lfs diff=lfs merge=lfs -text
/static/images/back-on-track-in-2020-with-todoist/todolist-spongebob.gif filter=lfs diff=lfs merge=lfs -text
/static/images/back-on-track-in-2020-with-todoist/trip-belarus-minsk-victory-square.jpeg filter=lfs diff=lfs merge=lfs -text
/static/images/macbook-battery-replacement/IMG_0180.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/macbook-battery-replacement/charging-cycles-screenshot.png filter=lfs diff=lfs merge=lfs -text
/static/images/the-forgotten-red-ale/IMG_0240.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/the-forgotten-red-ale/IMG_0243.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/the-forgotten-red-ale/IMG_1479.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/espresso-brownies/IMG_0136.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/field-pea-and-bacon-recipe/IMG_0116.JPG filter=lfs diff=lfs merge=lfs -text
/static/images/field-pea-and-bacon-recipe/IMG_0567.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/spring-ale/IMG_0613.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/spring-ale/IMG_0635.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/spring-ale/IMG_0636.jpg filter=lfs diff=lfs merge=lfs -text
/static/images/spring-ale/IMG_0638.jpg filter=lfs diff=lfs merge=lfs -text
